@charset "UTF-8";
:root {
  --black-color: #0c0c0c;
  --dark-gray-color: #4f6457;
  --gray-color: #7d808096;
  --l-yellow-color: #f1fc8d25;
  --light-blue-color: #e8e9e065;
  --light-yellow-color: #f1fc8d;
  --max-site-width: 1600px;
  --min-site-width: 375px;
  --orange-70-color: #f75353;
  --orange-color: #f76c6c;
  --white-color: #ffffff;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/opensans-regular.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: var(--min-site-width);

  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;

  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden:not(:focus):not(:active),
input[type=radio].visually-hidden,
input[type=checkbox].visually-hidden,
input[type=file].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

#site-top {
  position: absolute;
  top: 0;

  visibility: hidden;
}

.indent-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.btn-reset {
  padding: 0;

  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.shaked {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.is-lock-scroll {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .is-lock-scroll {
    overflow: visible;
  }
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--black-color);

  background-color: var(--white-color);
  cursor: default;
}

a {
  text-decoration-color: var(--link-line, transparent);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}
.site__container {
  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh, 1vh));
}
.site__header {
  flex-shrink: 0;
}
.site__content {
  flex-grow: 1;
  margin-top: var(--offset-top, 0);

  background-color: var(--light-blue-color);
}
.site__footer {
  flex-shrink: 0;
}

.slider {
  position: relative;

  overflow: hidden;

  --swiper-pagination-bullet-inactive-color: var(--white-color);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-color: var(--white-color);
  --swiper-theme-color: var(--orange-color);
}
.slider__wrapper {
  box-sizing: border-box;
}
.slider__controls {
  display: none;
}
.slider__pagination {
  position: absolute;

  text-align: center;
}
@media (min-width: 768px) {
  .slider__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    max-width: 1700px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    pointer-events: none;
  }
}

.slider-controls-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;

  color: var(--white-color);

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  pointer-events: auto;
}
@media (min-width: 1200px) {
  .slider-controls-btn svg {
    width: 60px;
    height: 60px;
  }
}

.scroll-top {
  position: fixed;
  right: max(15px, (100% - var(--max-site-width, 1440px) - 100px) / 2);
  bottom: 60px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  opacity: 0;

  transition: opacity 0.25s ease-in-out;

  pointer-events: none;
}
.scroll-top--show {
  opacity: 1;

  pointer-events: auto;
}
.scroll-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #ffffff;

  background-color: #505565;
  border-radius: 50%;
}
.scroll-top__link svg {
  width: 50%;
  height: 50%;
}
@media (min-width: 1200px) {
  .scroll-top__link {
    transition: opacity 0.25s ease-in-out;
  }
  .scroll-top__link:hover {
    opacity: 0.7;
  }
}

.social-link {
  display: inline-flex;
}
.social-link svg {
  width: var(--icon-size, var(--icon-width, 40px));
  height: var(--icon-size, var(--icon-height, 40px));
}
@media (min-width: 992px) {
  .social-link {
    transition: -webkit-filter 0.15s ease-in-out;
    transition:         filter 0.15s ease-in-out;
    transition:         filter 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
  }
  .social-link:hover {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
  }
}

.site-header {
  color: var(--black-color);

  background-color: var(--white-color);
}
.site-header__menu {
  justify-content: space-between;
}
.site-header__social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;

  --icon-size: 40px;
}
.site-header__social-list > * {
  display: flex;
  margin-left: 5px;
}
.site-header__logo-link {
  flex-shrink: 0;
}
.site-header__logo-link img {
  width: 130px;
}
@media (min-width: 768px) {
  .site-header__logo-link img {
    width: 200px;
  }
  .site-header__social-list {
    margin-left: 10px;

    --icon-size: 50px;
  }
}

.site-footer__top {
  padding-top: 10px;

  border-bottom: 2px solid var(--light-yellow-color);
}
.site-footer__logo {
  display: inline-flex;
}
.site-footer__logo img {
  width: 150px;
}
.site-footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.site-footer__social-list > * {
  display: flex;
  margin-left: 10px;
}
.site-footer__social-link {
  display: inline-flex;
}
.site-footer__social-link:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.site-footer__copyright {
  margin: 8px 0;
  padding: 0 10px;

  text-align: right;
}
@media (min-width: 992px) {
  .site-footer__social-list {
    --icon-size: 50px;
  }
}

.main-banner {
  position: relative;

  color: var(--white-color);

  background-color: var(--gray-color);
}
.main-banner__parallax-bg {
  position: absolute;
  top: 0;
  left: -10%;

  width: 130%;
  height: 100%;

  background-image: url("../img/DSC_0137.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.banner-slide {
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 60px 0;

  text-align: center;
}
.banner-slide__text {
  margin: 0;
  margin-bottom: 16px;

  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -2px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
.banner-slide__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style-type: none;
  font-size: 20px;
  text-align: center;
  text-shadow: -2px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
.banner-slide__list > li {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .banner-slide {
    min-height: 600px;
  }
  .banner-slide__container {
    padding-right: 60px;
    padding-left: 60px;
  }
  .banner-slide__text {
    margin-bottom: 40px;

    font-size: 48px;
  }
  .banner-slide__list {
    margin-bottom: 0;

    font-size: 24px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .banner-slide__contact {
    transition: background-color 0.2s ease-in-out;
  }
  .banner-slide__contact:hover {
    background-color: var(--orange-70-color);
  }
}
@media (min-width: 1200px) {
  .banner-slide__container {
    padding-right: 120px;
    padding-left: 120px;
  }
}
@media (min-width: 1600px) {
  .banner-slide {
    min-height: 750px;
  }
  .banner-slide__text {
    font-size: 64px;
  }
  .banner-slide__list {
    font-size: 28px;
  }
}
@media (min-width: 1920px) {
  .banner-slide {
    min-height: 850px;
  }
  .banner-slide__container {
    padding-right: 192px;
    padding-left: 192px;
  }
}

.service-description {
  flex: 1;
  padding-right: 20px;

  cursor: default;
}
.service-description__title {
  margin-bottom: 15px;

  font-size: 28px;

  border-bottom: 2px solid var(--light-yellow-color);
}
@media (max-width: 540px) {
  .service-description__title {
    margin-top: 0;
  }
}
.service-description__subtitle {
  margin-bottom: 20px;

  font-size: 24px;

  border-bottom: 2px solid var(--light-yellow-color);
}
.service-description__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.service-description__item {
  position: relative;

  margin-bottom: 10px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 1.5;
}
.service-description__item::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;

  color: var(--orange-color);
}

.service-map {
  flex: 1;
}
.service-map iframe {
  width: 100%;
  height: 250px;
  padding: 0;

  border: 0;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .service-map iframe {
    height: 450px;
  }
}

.definition__subheading {
  font-size: 20px;
  text-transform: uppercase;

  border-bottom: 2px solid var(--light-yellow-color);
}
@media (max-width: 768px) {
  .definition__subheading:first-child {
    margin-top: 0;
  }
}
.definition__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.definition__item {
  position: relative;

  padding-bottom: 5px;

  font-size: 16px;
}
.definition__item::before {
  content: "◈";

  margin-right: 5px;

  color: var(--orange-color);
}
.definition__text {
  margin-top: 11px;

  font-size: 16px;
}

.timetable {
  padding: 15px 0;

  color: var(--white-color);

  background-image: url("../img/3.webp");
  border-bottom-right-radius: 50px;
}
.timetable__container {
  justify-content: space-between;
  align-items: center;
}
.timetable__contact {
  display: inline-block;
  padding: 10px 20px;

  font-size: 18px;
  color: var(--white-color);
  text-decoration: none;

  background-color: var(--orange-color);
  border-radius: 8px;
}
.timetable__socials {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;

  --icon-size: 40px;
}
.timetable__socials > *:not(:first-child) {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .timetable__contact {
    font-size: 22px;
  }
  .timetable__socials {
    --icon-size: 50px;
  }
}
@media (min-width: 992px) {
  .timetable__contact {
    font-size: 24px;

    transition: background-color 0.2s ease-in-out;
  }
  .timetable__contact:hover {
    background-color: var(--orange-70-color);
  }
}
@media (min-width: 1600px) {
  .timetable__contact {
    margin-bottom: 40px;

    font-size: 28px;
  }
}
