.banner-slide {
  padding: 60px 0;
  min-height: 500px;
  display: flex;
  align-items: center;
  text-align: center;

  &__text {
    font-size: 40px;
    margin: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-shadow: -2px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    text-shadow: -2px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    margin-bottom: 40px;

    &>li {
      margin-bottom: 6px;
    }
  }

  &__contact {
    font-size: 24px;
    margin-bottom: 16px;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--orange-color);
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
  }

  &__socials {
    --icon-size: 60px;

    @include list-reset;

    display: flex;
    justify-content: center;

    &>* {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  @include media-min($md) {
    min-height: 600px;

    &__container {
      padding-left: 60px;
      padding-right: 60px;
    }

    &__text {
      font-size: 48px;
      margin-bottom: 40px;
    }

    &__list {
      text-align: left;
      margin-bottom: 0;
      font-size: 24px;
    }
  }

  @include media-min ($lg) {
    &__text {
      text-align: left;
    }

    &__contact {
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: var(--orange-70-color);
      }
    }
  }

  @include media-min ($xl) {
    &__container {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  @include media-min($xxl) {
    min-height: 750px;

    &__text {
      font-size: 64px;
    }

    &__list {
      font-size: 28px;
    }

    &__contact {
      font-size: 28px;
      margin-bottom: 40px;
    }
  }

  @include media-min($fhd) {
    min-height: 850px;

    &__container {
      padding-left: 192px;
      padding-right: 192px;
    }
  }
}
