.main-banner {
  position: relative;
  color: var(--white-color);
  background-color: var(--gray-color);

  &__parallax-bg {
    position: absolute;
    left: -10%;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-image: url('../img/image-30-09-24-07-02.webp');
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.6);
  }
}
