.timetable {
  color: var(--white-color);
  border-bottom-right-radius: 50px;
  background-image: url('../img/3.webp');
  padding: 15px 0;

  &__container {
    justify-content: space-between;
  }

  &__text {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
}