:root {
  --white-color: #FFFFFF;
  --light-blue-color: #e8e9e065;
  --gray-color: #7d808096;
  --light-yellow-color: #f1fc8d;
  --l-yellow-color: #f1fc8d25;
  --orange-color: #F76C6C;
  --orange-70-color: #f75353;
  --dark-gray-color: #4f6457;
  --black-color: #0c0c0c;

  // other vars
  --min-site-width: 375px;
  --max-site-width: 1600px;
}

$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fhd: 1920px;
$main-font: "Open Sans";
